<!-- ng-repeat per iterare su una lista 
"|" si chiama un pipe e serve per permettere le funzioni come orderBy e filter all'interno del loop 
-->
<img
  ng-src="{{ninjaCtrl.ninja.thumb}}"
  ng-show="ninjaCtrl.ninja.thumb"
  style="margin: -12px 10px 0 0; float: left; height: 50px; width: 50px"
/>
<h3>{{ninjaCtrl.ninja.name}} - {{ninjaCtrl.ninja.rate | currency: '€'}}</h3>
<button
  ng-init="ninjaCtrl.getFavorites(ninjaCtrl.ninja.id)"
  ng-click="ninjaCtrl.handleFavorites(ninjaCtrl.ninja.id)"
  class="fa fa-heart"
  ng-style="ninjaCtrl.heartColor"
></button>
<div class="remove" ng-click="ninjaCtrl.removeNinja(ninjaCtrl.ninja)">X</div>
<span class="belt" style="background: {{ninjaCtrl.ninja.belt}}"
  >{{ninjaCtrl.ninja.belt}} Belt</span
>
